*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #ececec;
  padding: 16px;
  font-family: "Inter", sans-serif;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* xxs */
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }

  header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
  }
  
  header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  header h1 {
    font-size: 22px;
  }

  header p {
    font-size: 12px;
  }
  
  #newBookButton {
    max-height: 40px;
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid black;
  }

  section {
    font-size: 12px;
    text-align: center;
  }

  section p {
    margin-bottom: 8px;
  }
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}